<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Skola
        </div>
        <div class="content">
          Rīgas Valsts 1. ģimnāzija
        </div>
      </div>
      <div class="section">
        <div class="title">
          Laiks kad šeit mācījos
        </div>
        <div class="content">
          7.-9. klase (2015.-2018. gads)
        </div>
      </div>
      <div class="section">
        <div class="title">Klases audzinātājs</div>
        <div class="content">Dzintars Zicāns</div>
      </div>
      <div class="section">
        <div class="title">Atnākšana uz RV1ģ</div>
        <div class="content">
          <p>Uz Rīgas Valsts 1. ģimnāziju iestājos 7. klasē, pēc tam kad biju pabeidzis 6. klasi Rīgas Valda Zālīša sākumskolā. Gadā, kad atnācu no manas sākumskolas atnāca rekord mazs daudzums skolēnu uz Rīgas Valsts 1. ģimnāziju, kas citus gadus esot bijis daudz augstāks.</p>
        </div>
      </div>
      <div class="section">
        <div class="title">Pulciņi</div>
        <div class="content">
          Mācoties Rīgas Valsts 1. ģimnāzijā īslaicīgi piedalījos šajos pulciņos:
        </div>
        <div class="list">
          <ul>
            <li>Jauktais koris</li>
            <li>Muzeja pulciņš</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">
         Spilgtākie notikumi
        </div>
        <div class="list">
          <ul>
            <li>Dalība ZZ čempionātā</li>
            <li>Skolas izlaiduma ballīte</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/pamatskola_izlaidums.jpg" alt="Bilde ar bildi no vidusskolas izlaiduma izlaiduma"/>
        <div class="description">Bilde ar bildi no pamatskolas izlauduma, Latvijas Universitātes Lielajā aulā, ar Rīgas Valsts 1. ģimnāzijas direktoru Māri Braslu</div>
      </div>
      <div class="image-container">
        <img src="assets/images/pamatskola_skola.jpg" alt="Bilde ar Rīgas Valsts 1. ģimnāziju"/>
        <div class="description">Bilde ar Rīgas Valsts 1. ģimnāziju (2024)</div>
      </div>
    </div>
  </div>
</div>