<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Universitātes nosaukums
        </div>
        <div class="content">
          Lartvijas Universitāte
        </div>
      </div>
      <div class="section">
        <div class="title">
          Fakultātes nosaukums
        </div>
        <div class="content">
          Datorikas fakultāte
        </div>
      </div>
      <div class="section">
        <div class="title">
        Kurss
        </div>
        <div class="content">
          3. kurss (6. semestris)
        </div>
      </div>
      <div class="section">
        <div class="title">
          Darbs DFSP (Datorikas fakultātes studentu pašpārvalde)
        </div>
        <div class="list">
          <ul>
            <li>13. sasaukums (2021.-2022.  gads)</li>
            <li>14. sasaukums (2022.-2023. gads)</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">
          Kursa vecākais
        </div>
        <div class="content">
          <div class="sub-section">
            <h3>
              2023. gada marts - pašlaik            
            </h3>
            Kā kursa vēcākais tiku iecelts 2023. gada martā. Kad pašpārvalde bija novērojusi, ka esošie kursa vecākie neveic savus pienākumus.
          </div>
        </div>
      </div>
      <div class="section">
        <div class="title">
          Kā izlēmu atnākt uz LU DF
        </div>
        <div class="content">
          <p>Uz Latvijas Universitātes Datorikas Fakultāti izlēmu nākt pāris dienas pirms vajadzēja pieteikties</p>
        </div>
      </div>

    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/izlaidums.jpg" alt="Bilde no izlaiduma"/>
        <div class="description">Bilde no 1. augstākā profesionālā grāda izlauduma</div>
      </div>
    </div>
  </div>
</div>