@import '../../scss/main';
@import '../../scss/education_variables';

.sub-navbar{
  background-color: $education-subnav-light;

  a{
    color: $education-navbar-dark;
    background-color: $education-background-light;
  }
}