@import '../../scss/main';
@import '../../scss/education_variables';

.sub-navbar{
  background-color: $education-subnav-light;

  a{
    color: $education-navbar-dark;
    background-color: $education-background-light;

    &:hover{
      background-color: $education-navbar-light;
      color: white;
    }
    &.active{
      background-color: $education-navbar-light;
      color: white;
    }
  }
}