@import '../../scss/choir_variables';


.sub-body{
  background-color: $choir-background-light;
}

.sub-body.dark{
  background-color: $choir-background-dark;

  .section{
    background-color: rgba(201, 201, 201, 0.656);
  }
}