$education-background-light: #d3d8f0;
$education-subnav-light: #9fa6cc;
$education-navbar-light: #6a74a7;
$education-background-dark: #9fa6cc;
$education-subnav-dark: #6a74a7;
$education-navbar-dark: #212b5e;
