<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Kora nosaukums
        </div>
        <div class="content">
          Latvijas Universitātes Jauktais Koris "Dziesmuvara"
        </div>
      </div>
      <div class="section">
        <div class="title">Laiks kad dziedāju</div>
        <div class="section">Septembris 2021 - pašlaik</div>
      </div>
      <div class="section"></div>
      <div class="section"></div>
      <div class="section"></div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="../../assets/images/IMGC0111.jpg" alt="Choir" />
        <div class="description">Bilde pēc konkursa Gdaņskā 2024</div>
      </div>

    </div>
  </div>
</div>