<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Koris
        </div>
        <div class="content">
          Rīgas Valda Zālīša sākumskolas zēnu koris "Ostinato"
        </div>
      </div>
      <div class="section">
        <div class="title">Laiks kad dziedāju</div>
        <div class="content">
          2012 - 2015
        </div>
      </div>
      <div class="section">
        <div class="title">Mīļākie momenti
        </div>
        <div class="list">
          <ul>
            <li>Piedalīšanās "Zēnu koru salidojumā 2014", kas notika Siguldā</li>
            <li>Uzstāšanas VIII Ziemeļu un Baltijas valstu dziesmu svētkos (2015)</li>


          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">Pievienošanās korim</div>
        <div class="content">
          Korim pievienjos pēc mūzikas skolotājas Rīgas Valda Zālīša sākumskolā ieteikuma.
        </div>
      </div>
      <div class="section">
        <div class="title">Koncerti</div>
        <div class="content">
          <div class="sub-section">
            Regulāri uzstājāmies skolas pasākumos, kā arī reiz uzstājāmies 18. novembra pasākumā Rīgas Biedrības namā.
          </div>
        </div>
      </div>
      <div class="section">
        <div class="title">VIII Ziemeļu un Baltijas valstu dziesmu svētki</div>
        <div class="content">
          <p>Ar kori piedalījāmies zēnu koru skatē, kur izcīnījām vietu starp 3 labākajiem zēnu koriem Latvijā, kuru starpā bija Rīgas Doma skolas zēnu koris, Jāzepa Mediņa Rīgas 1. mūzikas skolas zēnu koris un mēs, Rīgas Valda Zālīša sākumskolas zēnu koris "Ostinato".</p> 
          <p>VIII Ziemeļu un Baltijas valstu dziesmu svētkos uznācām uz skatuves Mežaparka estrādē uz svētku noslēguma koncertu</p>

        </div>
      </div>
      <div class="section">
        <div class="title">Pēc kora</div>
        <div class="content">
          Beidzu dziedāt šajā korī, kad pabeidzu Rīgas Valda Zālīša sākumskolu. Sākot mācības Rīgas Valsts 1. ģimnāzijā iestājos korī tur, bet pēc pāris mēnešiem izlēmu pārstāt dziedāt korī.
        </div>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/sakumskola_dziesmu_svetki.jpg" alt="Bilde ar dalībnieka apliecību no dziesmu svētkiem"/>
        <div class="description">
          Ziemeļu un Baltijas valstu dziesmu svētku dalībnieka apliecība
        </div>
    </div>
    <div class="image-container">
      <img src="assets/images/sakumskola_salidojums.jpg" alt="Piespraude no zēnu koru salidojuma"/>
      <div class="description">
        Piespraude no IX Latvijas zēnu koru salidojuma
      </div>
    </div>
  </div>
</div>