@import '../../scss/main';
@import '../../scss/about_variables';

.sub-navbar{
  background-color: $about-subnav-light;

  a{
    color: $about-navbar-dark;
    background-color: $about-background-light;

    &:hover{
      background-color: $about-navbar-light;
      color: white;
    }
    &.active{
      background-color: $about-navbar-light;
      color: white;
    }
  }
}

.sub-navbar.dark{
  background-color: $about-subnav-dark;

  a{
    color: $about-navbar-dark;
    background-color: $about-background-dark;

    &:hover{
      background-color: $about-navbar-dark;
      color: white;
    }
    &.active{
      background-color: $about-navbar-dark;
      color: white;
    }
  }
}