@import '../../scss/main';
@import '../../scss/about_variables';

.sub-navbar{
  background-color: $about-subnav-light;

  a{
    color: $about-navbar-dark;
    background-color: $about-background-light;
  }
}