<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Skola
        </div>
        <div class="content">
          Rīgas Valsts 3. ģimnāzija
        </div>
      </div>
      <div class="section">
        <div class="title">
          Laiks kad šeit mācījos
        </div>
        <div class="content">
          10.-12. klase (2018.-2021. gads)
        </div>
      </div>
      <div class="section">
        <div class="title">
        Novirziens
        </div>
        <div class="content">
          Fizikas, matemātikas un programmēšanas novirziens
        </div>
      </div>
      <div class="section">
        <div class="title">Klases audzinātājs</div>
        <div class="content">Ansis Šenne</div>
      </div>
      <div class="section">
        <div class="title">
          Atnākšana uz RV3ģ
        </div>
        <div class="content">
          <p>Uz Rīgas Valsts 3. ģimnāziju iestājos 10. klasē, pēc tam kad biju pabeidzis 9. klasi Rīgas Valsts 1. ģimnāzijā.
          </p>
          <p>
            Izlēmu mācīties fizikas, matemātikas un programmēšanas novirzienu, jo patika šie priekšmeti.
          </p> 
        </div>
      </div>
      <div class="section">
        <div class="title">Pulciņi</div>
        <div class="content"></div>
        <div class="list">

            <h3><a [routerLink]="['/choir/high-school-choir']">Jauktais koris</a></h3>
            <h3>Visparējā fiziskā sagatavotība</h3> <p>
              Šo pulciņu sāku apmeklēt 11. klases 2. semestrī, jo vēlējos kopā ar klasesbiedriem un draugiem sporot, bet īsi pēc sākšanas apmeklēt sākās pandēmija.
            </p>
        </div>
      </div>
      <div class="section">
        <div class="title">
         Spilgtākie notikumi
        </div>
        <div class="list">
            <h3>4 Bumbas trauksmes </h3>
        </div>
      </div>
      <!-- <div class="section">
        <div class="title">
          Kā izlēmu atnākt uz LU DF
        </div>
        <div class="content">
          <p>Uz Latvijas Universitātes Datorikas Fakultāti izlēmu nākt pāris dienas pirms vajadzēja pieteikties</p>
        </div>
      </div> -->

    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/vidusskola_izlaidums.jpg" alt="Bilde ar bildi no vidusskolas izlaiduma izlaiduma"/>
        <div class="description">Bilde ar bildi no vidusskolas izlauduma ar klases audzinātāju Ansi Šenni un skolas direktoru Andri Priekuli</div>
      </div>
      <div class="image-container">
        <img src="assets/images/vidusskola_piekarins.jpg" alt="Melns atslēgu piekariņš ar RV3ģ logotipu"/>
        <div class="description">Bilde ar atslēgu piekariņu kuru dabūju apsolvējot vidusskolu. Atslēgu piekariņš ir melns un 3D printēts ar Rīgas Valsts 3. ģimnāzijas logotipu</div>
      </div>
      <div class="image-container">
        <img src="assets/images/vidusskola_skola.jpg" alt="Bilde ar Rīgas Valsts 3. ģimnāziju"/>
        <div class="description">Rīgas Valsts 3. ģimnāzija (2024)</div>
      </div>
    </div>
  </div>
</div>