<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Skola
        </div>
        <div class="content">
          Rīgas Valda Zālīša sākumskola
        </div>
      </div>
      <div class="section">
        <div class="title">
          Laiks kad šeit mācījos
        </div>
        <div class="content">
          1.-6. klase (2009.-2015. gads)
        </div>
      </div>
      <div class="section">
        <div class="title">Klases audzinātājas</div>
        <div class="list">
          <ul>
            <li>1. - 2. klase - Ivita</li>
            <li>3. - 6. klase - Aiga Ramane</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">Pulciņi</div>
        <div class="content">
          Mācoties Rīgas Valda Zālīša sākumskolā piedalījos šajos pulciņos:
        </div>
        <div class="list">
          <ul>
            <li><a [routerLink]="['/choir/primary-school-choir']">Zēnu koris</a></li>
            <li>Muzeja pulciņš</li>
            <li>Teātra pulciņš (īslaicīgi)</li>
            <li>Mazskauti
              <p>Šī bija skautu vienība, kuras viena no vadītājām bija skolas biblotekāre, un varēja pievienoties skautu vienībai caur skolu</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">
         Spilgtākie notikumi
        </div>
        <div class="list">
          <ul>
            <li>Pašiem savas klases krāsošana pirms 2. klases ar vecākiem un klases audzinātāju</li>
            <li>Izlaiduma ballīte kultūras pilī "Ziemeļblāzma" </li>
            <li>Kad skolas pagalmā slidoju uz aizsalušas peļķes un ieguvu smadzeņu satricinājumu</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/sakumskola_skola.jpg" alt="Bilde ar Rīgas Valda Zālīša sākumskolu"/>
        <div class="description">Bilde ar Rīgas Valda Zālīša sākumskolu (2024)</div>
      </div>
    </div>
  </div>
</div>