<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Skola
        </div>
        <div class="content">
          Rīgas Valda Zālīša sākumskola
        </div>
      </div>
      <div class="section">
        <div class="title">
          Laiks kad šeit mācījos
        </div>
        <div class="content">
          1.-6. klase (2009.-2015. gads)
        </div>
      </div>
      <div class="section">
        <div class="title">Klases audzinātājas</div>
        <div class="list">
          <ul>
            <li>3. - 6. klase - Aiga Ramane</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">
         Spilgtākie notikumi
        </div>
        <div class="list">
          <ul>
            <li>Dalība ZZ čempionātā</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/pamatskola_izlaidums.jpg" alt="Bilde no vidusskolas izlaiduma izlaiduma"/>
        <div class="description">Bilde no pamatskolas izlauduma, Latvijas Universitātes Lielajā aulā, ar Rīgas Valsts 1. ģimnāzijas direktoru Māri Braslu</div>
      </div>
    </div>
  </div>
</div>