<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Skola
        </div>
        <div class="content">
          Rīgas Valda Zālīša sākumskola
        </div>
      </div>
      <div class="section">
        <div class="title">
          Laiks kad šeit mācījos
        </div>
        <div class="content">
          1.-6. klase (2009.-2015. gads)
        </div>
      </div>
      <div class="section">
        <div class="title">Klases audzinātājas</div>
        <div class="list">
          <ul>
            <li>1. - 2. klase - Ivita</li>
            <li>3. - 6. klase - Aiga Ramane</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">Pulciņi</div>
        <div class="content">
          Mācoties Rīgas Valda Zālīša sākumskolā izmēģināju visādus intrešu izglītības pulciņus:
        </div>
        <div class="list">
            <h3><a [routerLink]="['/choir/primary-school-choir']">Zēnu koris "Ostinato"</a></h3>
            <p></p>
            <h3>Muzeja pulciņš</h3>
            <p>Īslaicīgi darbojos skolas muzeja pulciņā, kur vairāk mācījos par skolas vēsturi iepazīstot skolas muzeju un intervēju vienus skolas skolotāju</p>
            <h3>Teātra pulciņš</h3>
            <p>Īslaicīgi piedalījos skolas teātra pulciņā, jo pulciņa vadītājs bija drauga tēvs</p>
            <h3>Mazskauti</h3>
              <p>Šī bija skautu vienība, kuras viena no vadītājām bija skolas biblotekāre, un varēja pievienoties skautu vienībai caur skolu. Biju šīs vienības biedrs līdz 6. klases beigām.  </p>

        </div>
      </div>
      <div class="section">
        <div class="title">
         Spilgtākie notikumi
        </div>
        <div class="list">
            <h3>Pašiem savas klases krāsošana pirms 2. klases ar vecākiem un klases audzinātāju</h3>
            <h3>Izlaiduma ballīte kultūras pilī "Ziemeļblāzma" </h3>
            <h3>Brauciens uz Cēsīm ekskursijā, kur apmeklējām Cēsu pili un piedzīvojumu parku "Supervāvere"</h3>
            <h3>Kad skolas pagalmā slidoju uz aizsalušas peļķes un ieguvu smadzeņu satricinājumu</h3>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/sakumskola_skola.jpg" alt="Bilde ar Rīgas Valda Zālīša sākumskolu"/>
        <div class="description">Bilde ar Rīgas Valda Zālīša sākumskolu (2024)</div>
      </div>
    </div>
  </div>
</div>