@import '../../scss/main';
@import '../../scss/about_variables';
@import '../../scss/choir_variables';
@import '../../scss/education_variables';


.header.choir{

    background-color: $choir-navbar-light;
    color: white;

  .nav-buttons{
    a{
      background-color: $choir-background-light;
      color: $choir-navbar-dark;

      &:hover{
        background-color: $choir-subnav-light;
        color: $choir-navbar-dark;
      }

      &.active{
        background-color: $choir-subnav-light;
        color: $choir-navbar-dark;
      }
    }
  }
}

.header.about{

    background-color: $about-navbar-light;
    color: white;

  .nav-buttons{
    a{
      background-color: $about-background-light;
      color: $about-navbar-dark;

      &:hover{
        background-color: $about-subnav-light;
        color: $about-navbar-dark;
      }

      &.active{
        background-color: $about-subnav-light;
        color: $about-navbar-dark;
      }
    }
  }
}

.header.education{

    background-color: $education-navbar-light;
    color: white;

  .nav-buttons{
    a{
      background-color: $education-background-light;
      color: $education-navbar-dark;

      &:hover{
        background-color: $education-subnav-light;
        color: $education-navbar-dark;
      }

      &.active{
        background-color: $education-subnav-light;
        color: $education-navbar-dark;
      }
    }
  }
}