<div #header class="header"   [ngClass]="{
  'choir': isChoirRoute(),
  'education': isEducationRoute(),
  'about': isAboutMeRoute()
}">
  <div class="title">
    Mans ceļš uz Latvijas Universitāti
  </div>
  <div class="nav-buttons">
    <a routerLink="/about-me" routerLinkActive="active">Par Mani</a>
    <a routerLink="/choir" routerLinkActive="active">Kora ceļš</a>
    <a routerLink="/education" routerLinkActive="active">Izglītības ceļš</a>
  </div>
  <div class="theme-button" (click)="toggleTheme()">
    <button>Mainīt tēmu</button>
  </div>
</div>