@import '../../scss/main';
@import '../../scss/choir_variables.scss';

.sub-navbar{
  background-color: $choir-subnav-light;

  a{
    background-color: $choir-background-light;
    color: $choir-navbar-dark;

    
    &:hover{
      background-color: $choir-navbar-light;
      color: white;
    }
    &.active{
      background-color: $choir-navbar-light;
      color: white;
    }
  }
}

.sub-navbar.dark{
  background-color: $choir-subnav-dark;

  a{
    background-color: $choir-background-dark;
    color: $choir-navbar-light;

    &:hover{
      background-color: $choir-navbar-dark;
      color: white;
    }
    &.active{
      background-color: $choir-navbar-dark;
      color: white;
    }
  }
}