<div class="component">
  <div class="container">
    <div class="left">
      <div class="section">
        <div class="title">
          Koris
        </div>
        <div class="content">
          Rīgas Valsts 3. ģimnāzijas jauktais koris
        </div>
      </div>
      <div class="section">
        <div class="title">Laiks kad dziedāju</div>
        <div class="content">Oktrobris 2018 - Augusts 2021</div>
      </div>
      <div class="section">
        <div class="title">Balss grupa kurā dziedāju
        </div>
        <div class="content">
          No sākuma korī dziedāju 2. Basus, pēdējā gadā diriģente piedāvāja pāriet uz Tenoriem, bet tomēr izlēmu palikt 2. Basos.
        </div>
      </div>
      <div class="section">
        <div class="title">Mīļākie momenti
        </div>
        <div class="list">
          <ul>
            <li>Ar kori brauciens uzspēlēt peintbolu</li>
            <li>Braucieni uz kempingiem pirms koncertiem</li>
            <li>Draugi, kurus ieguvu dziedot korī</li>

          </ul>
        </div>
      </div>
      <div class="section">
        <div class="title">Pievienošanās korim</div>
        <div class="content">
          Korim pievienjos spontāni sākot mācības Rīgas Valsts 3. ģimnāzijā. Biju jau dziedājis korī sākumskolā un īslaicīgi arī pamatskolā, tāpēc biju ieinteresēts mēģināt atkal dziedāt korī. Korī biju līdz 12. klasei, kad pabeidzu vidusskolu.
        </div>
      </div>
      <div class="section">
        <div class="title">Braucieni ar kori</div>
        <div class="content">
          <div class="sub-section">
            <h3>Peintbols</h3>
            <p>Pāris dienas pirms koru skates kurā grasījāmies dziedāt, kā koris kopā devāmies uzspēlēt peintbolu. Šis bija ļoti labs saliedējošais pasākums.</p>
          </div>
          <div class="sub-section">
            <h3>Braucieni uz kempingiem</h3>
            <p>Kā koris 2 reizes pirms koncertiem braucām uz kempingiem, lai saliedētos savā starpā, un lai varētu atūsties dabā spēlējot visādas sporta spēles. Šis palīdzēja atjaunot spēkus,lai abos gadījumos varētu labāk nodziedāt nākamajā dienā koncertos</p>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="title">Pēc kora</div>
        <div class="content">
          Kad beidzu dziedāt šajā korī, kora diriģente Nora uzaicināja mani uz manu pašreizējo kori <a [routerLink]="['/choir/high-school-choir']">"Latvijas universitātes jaukto kori 'Dziesmuvara'"</a>.
        </div>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img src="assets/images/vidusskolaskoris_pedeja.jpg" alt="Choir" />
        <div class="description">Pēdējā reize kopā ar vidusskolas kori (2021)</div>
      </div>
      <div class="image-container">
        <img src="assets/images/vidusskolaskoris_skate.jpg" alt="Bilde no izlaiduma" />
        <div class="description">Dziedot koru skatē (2019)</div>
      </div>
    </div>
  </div>
</div>